{% extends "base.html" %}
{% load i18n %}
  {% block title %}<title>{% trans 'Order detail' %}</title>{% endblock %}
{% block content %}
{% load static %}

<h2>{% trans 'Products ordered:' %}</h2>
<div class="row">
        <br>
    <div class="col-lg-9">
        <div class="box-element">
        <div class="cart-row">
            <div style="flex:1"></div>
             <div style="flex:1"><strong>{% trans 'Item' %}</strong></div>
             <div style="flex:1"><strong>{% trans 'Price' %}</strong></div>
             <div style="flex:2"><strong>{% trans 'Quantity' %}</strong></div>
             <div style="flex:1"><strong>{% trans 'Total' %}</strong></div>
        </div>

            {% for item in items %}
             <div class="cart-row">
            <div style="flex:1"><img class="row-image" src="{{item.product.cover.url}}"></div>
             <div style="flex:1">{{item.product.name}}</div>
             <div style="flex:1">{{item.product.price}}</div>
             <div style="flex:2">{{item.quantity}}</div>
             <div style="flex:1">€{{item.sum}}</div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="box-element" style="height:220px">
            <a class="btn btn-outline-dark" href="{% url 'orders' %}">&#x2190; {% trans 'Back to my orders' %}</a>
            <br>
	        <br>

			<h5>Items: <strong>{{order.total_qty}}</strong></h5>
            <br>
			<h5>Total:<strong> €{{order.total}}</strong></h5>
            </div>
    </div>
</div>
{% endblock %}